<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer_logo"><a href="/"><img src="images/footer-logo.png"></a></div>
                <h1 class="adderss_text">Contáctanos</h1>
                <div class="map_icon"><img src="images/map-icon.png"><span class="paddlin_left_0">Escuela de Ciencia de
                        la Computación</span></div>
                <div class="map_icon"><img src="images/call-icon.png"><span class="paddlin_left_0">+51 998 777
                        542</span></div>
                <div class="map_icon"><img src="images/mail-icon.png"><span
                        class="paddlin_left_0">equipo_2@unsa.edu.pe</span></div>
            </div>
        </div>
    </div>
</div>
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">2022 Proyecto y Diseño por el Equipo Numero 2 de Trabajo Interdisciplinar</p>
    </div>
</div>